<div class="card">
  <div class="card-header">
    <%= @data.email%>
  </div>
  <div class="card-body">
    <%= form_tag("/user/create") do %>
    <input type="hidden" name="user_id" value="<%= current_user.id%>">
    <table class="table table-striped table-bordered table-hover table-dark">
        <thead class="thead-dark">
        <tr>
            <th>No</th>
            <th>Nama Modul</th>
            <th>Ceklis</th>
        </tr>
        </thead>
        <tbody>
            <% 
                no=0 
                @menu.each do |item| 
            %>

                <tr>
                    <td><%= no=no+1 %></td>
                    <td><%= item.name %></td>
                    <td>
                        <% item.functions.each do |function| %>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="<%= "#{function.name}#{no}" %>" value="<%= function.id %>" name="ceklis[]">
                                <label class="form-check-label" for="<%= "#{function.name}#{no}" %>"><%= function.name %></label>
                            </div>
                        <% end %>
                    </td>
                </tr>

            <% end %>
        </tbody>
    </table>
        <a href="/user/index" class="btn btn-danger mb-3">Batal</a>
        <button type="submit" class="btn btn-primary mb-3">Simpan</button>
    <% end %>
  </div>
</div>