<tr>
  <td>
    <%= f.hidden_field  :_destroy %>
    <%= link_to 'Delete', '#', class: 'btn btn-outline-danger btn-sm remove_record' %>
  </td>
  <td>
    <div class="form-group">
        <%= f.select :product_id, @products.map { |t| [t.part_name, t.id]}, {}, class: "form-select" %>
    </div>
  </td>
  <td><%= f.number_field :quantity, class: "form-control" %></td>
  <td><%= f.select :status, ["Suspend", "Active"], {}, class: "form-select" %></td>
</tr>